<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">
    <persistence-unit name="objectdb">
        <class>Student</class>
        <class>Course</class>
        <class>Enrollment</class>
        <properties>
            <property name="javax.persistence.jdbc.url" value="objectdb:college.odb"/>
            <property name="javax.persistence.jdbc.user" value="admin"/>
            <property name="javax.persistence.jdbc.password" value="admin"/>
        </properties>
    </persistence-unit>
</persistence>
